@charset "utf-8";
/*首页*/
.index-banner{margin-top:20px;overflow:hidden;position:relative;margin-bottom:15px}
.index-banner .left{width:600px;height:340px;float:left;position:relative}
.index-banner .left .cnt a{width:600px;height:340px;display:block;position:relative;display:none}
.index-banner .left .cnt a.one{display:block}
.index-banner .left .cnt a img{width:100%;height:100%;position:absolute}
.index-banner .left .cnt a span{font-size:21px;color:#fff;margin:0 35px 0 20px;position:absolute;bottom:28px;z-index:1}
.index-banner .left .cnt a span:hover{text-decoration:underline}
.index-banner .left .banner-mask{width:100%;height:143px;background:url(../images/banner-mask.png) no-repeat center/cover;position:absolute;bottom:0;left:0}
.index-banner .left .btn{position:absolute;bottom:20px;right:20px;z-index:2}
.index-banner .left .btn li{width:10px;height:10px;float:left;background:#fff;margin-left:7px;border-radius:50%;cursor:pointer}
.index-banner .left .btn li.active{background:#eec97f}
.index-banner .right{margin-left:600px;overflow:hidden}
.index-banner .right a{float:left;width:290px;height:164px;margin-left:10px;margin-bottom:12px;position:relative}
.index-banner .right a img{position:absolute;width:100%;height:100%}
.index-banner .right a span{position:absolute;left:0;bottom:10px;font-size:16px;color:#fff;margin:0 20px 0 15px}
.index-banner .right a span:hover{text-decoration:underline}

/* 首页*搜索结果*全部文章 共用 */
.tit{font-size:24px;color:#484642;height:24px;line-height:24px;padding-left:24px;position:relative}
.tit span{height:20px;width:4px;background:#eec97f;position:absolute;top:2px;left:0}

.index-list{overflow:hidden;margin-bottom:100px}
.search-list{margin-top:36px}
.index-list .left{float:left;width:890px}
.index-list .left .nr{margin-top:30px}
.index-list .left .nr .btn{width:100%;height:51px;border-top:3px solid #efca7f;border-bottom:1px solid #eee;background:#fff}
.index-list .left .nr .btn a{margin-left:20px;font-size:16px;color:#484642;padding:8px;position:relative;float:left;height:100%;line-height:31px}
.index-list .left .nr .btn a span{width:0;height:3px;background:#ecc87e;position:absolute;bottom:0;left:0}
.index-list .left .nr .btn a.active span,.index-list .left .nr .btn a:hover span{width:100%}
.index-list .left .nr .cnt>ul{display:none;background:#fff}
.index-list .left .nr .cnt .cnt1{display:block}
.index-list .left .nr .cnt>ul>li{height:221px;padding:30px 30px 30px 20px;border-bottom:1px solid #eee}
.index-list .left .nr .cnt>ul>li .zuo-tu{float:left;width:280px;height:160px;position:relative}
.index-list .left .nr .cnt>ul>li .zuo-tu img{width:280px;height:160px}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag{position:absolute;top:0;left:0;width:40px;height:20px;text-align:center;line-height:20px;font-size:12px;color:#fff}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag.artist{background:#4ab1b6}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag.project{background:#7160a4}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag.film{background:#ee5f58}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag.ad{background:#3194d2}
.index-list .left .nr .cnt>ul>li .zuo-tu .pag.enter{background:#7abb6a}
.index-list .left .nr .cnt>ul>li .you-wz{margin-left:280px;padding-left:30px;height:100%;position:relative}
.index-list .left .nr .cnt>ul>li .you-wz .tm{font-size:20px;color:#484642;letter-spacing:1px}
.index-list .left .nr .cnt>ul>li .you-wz .tm:hover{color:#ecc87e}
.index-list .left .nr .cnt>ul>li .you-wz .time{font-size:13px;color:#ccc;position:absolute;top:90px;left:30px}
.index-list .left .nr .cnt>ul>li .you-wz .b{position:absolute;left:30px;bottom:18px;width:530px;height:22px;line-height:22px}
.index-list .left .nr .cnt>ul>li .you-wz .b .tag-img{vertical-align:middle;margin-right:8px}
.index-list .left .nr .cnt>ul>li .you-wz .b .tag-wz{font-size:13px;color:#999}
.index-list .left .nr .cnt>ul>li .you-wz .b .other{float:right}
.index-list .left .nr .cnt>ul>li .you-wz .b .other img{vertical-align:middle}
.index-list .left .nr .cnt>ul>li .you-wz .b .other span{font-size:13px;color:#999}
.index-list .left .nr .cnt>ul>li .you-wz .b .other .praise-img{cursor:pointer}
.index-list .left .nr .cnt>ul>li .you-wz .b .other .read-wz{margin-right:34px}

.index-list .right{float:right;width:290px}
.index-list .right .cnt{margin-top:30px}
.index-list .right .cnt>li{padding:20px;background:#f5f1e9}
.index-list .right .cnt>li .index-hot-list{display:block;width:250px;height:130px;margin-bottom:17px}
.index-list .right .cnt>li .index-hot-list img{width:100%;height:100%}
.index-list .right .cnt>li .a1{font-size:16px;color:#484642}

/*文章详情页*/
.article{margin-top:36px;margin-bottom:130px}
.article .details{overflow:hidden}
.article .details .left{float:left;margin-top:20px}
.article .details .left .bdsharebuttonbox{width:60px;height:180px}
.article .details .left .bdsharebuttonbox a{display:block;width:100%;height:60px;border-bottom:1px solid #eee;margin:0;background-color:#fafafa;background-position:center;background-repeat:no-repeat}
.article .details .left .bdsharebuttonbox a.bds_weixin{background-image:url(../images/weChat.png);background-size:37px 30px}
.article .details .left .bdsharebuttonbox a.bds_tsina{background-image:url(../images/sina.png);background-size:30px 26px}
.article .details .left .bdsharebuttonbox a.bds_sqq{border-bottom:none;background-image:url(../images/qq.png);background-size:23px 26px}
.article .details .right{float:right}
.article .details .right .cnt{background:#f5f1e9;margin-top:30px}
.article .details .right .cnt>li{padding:15px;overflow:hidden}
.article .details .right .cnt>li .img1{float:left}
.article .details .right .cnt>li .img1 img{display:block}
.article .details .right .cnt>li .a1{font-size:13px;color:#484642;float:right;width:130px;margin-left:15px}
.article .details .center{margin:20px 356px 0 120px}
.article .details .center .btC{font-size:28px;color:#484642;margin-bottom:45px}
.article .details .center .bt-tag{float:left;width:52px;height:30px;text-align:center;line-height:30px;font-size:14px;color:#fff;background:#f60;margin-top:6px;margin-right:10px}
.article .details .center .article-tag .time{font-size:13px;color:#999;margin-right:20px}
.article .details .center .article-tag .bj,.article .details .center .article-tag .lz{font-size:13px;color:#666;margin-right:20px}
.article .details .center .cnt *{margin-top:40px}
.article .details .center .cnt img{max-width:100%;display:block;margin:40px auto 0}
.article .details .center .article-tag2{margin-top:60px;margin-bottom:30px;width:100%;height:22px;line-height:22px}
.article .details .center .article-tag2 .tag-img{vertical-align:middle;margin-right:8px}
.article .details .center .article-tag2 .tag-wz{font-size:13px;color:#999}
.article .details .center .article-tag2 .other{float:right}
.article .details .center .article-tag2 .other img{vertical-align:middle}
.article .details .center .article-tag2 .other span{font-size:13px;color:#999}
.article .details .center .article-tag2 .other .praise-img{cursor:pointer}
.article .details .center .article-tag2 .other .read-wz{margin-right:34px}
.article .details .center .fy{width:100%;height:190px;padding:70px 0;background:#faf8f4;text-align:center}
.article .details .center .fy a{display:inline-block;width:160px;height:50px;line-height:50px;font-size:16px;color:#484642;background:#efca7f;margin:0 3px}
.article .details .center .fy a img{margin-right:5px;margin-top:-2px;vertical-align:middle}


/*我们*/
.we{overflow:hidden;padding-bottom:150px}
.we .left{float:left;width:700px;padding-top:202px;background:url("../images/Company-Profile .png") no-repeat 23px 116px/622px 76px}
.we .bt{font-size:36px;color:#484642;text-align:center}
.we .left .cnt{font-size:16px;color:#484642;margin-top:55px;line-height:30px}
.we .right{float:right;margin-top:97px;padding:8px;box-shadow:0 0 20px 0 #ccc}
.we .right img{display:block}
/*文化*/
.culture{overflow:hidden;padding-bottom:140px}
.culture .left{float:left;width:420px;padding-top:245px;background:url(../images/Company-Culture.png) no-repeat 0 80px/343px 128px}
.culture .left .bt{font-size:36px;color:#484642}
.culture .right{margin-left:420px;padding-top:80px;overflow:hidden}
.culture .right>div{float:left;width:253px;height:525px;position:relative;margin-right:10px}
.culture .right>div.list3{margin-right:0}
.culture .right>div img{position:absolute;top:0;left:0;display:block}
.culture .right>div .bt{font-size:24px;color:#eec97f;text-align:center;margin-top:200px;position:relative}
.culture .right>div .nr{font-size:15px;color:#fff;text-align:center;margin-top:28px;padding:0 20px;line-height:30px;position:relative}
/*历程*/
.course .top{padding-top:170px;background:url("../images/Development-Process .png") no-repeat center 77px/785px 73px}
.course .top .bt{font-size:36px;color:#484642;text-align:center;padding-bottom:70px}
.course .lunBo{width:100%;height:600px;padding-top:120px}
.course .lunBo .lunBo-cnt{height:390px;position:relative}
.course .lunBo .lunBo-cnt .container{width:1110px;height:100%;margin:0 auto;overflow:hidden}
.course .lunBo .lunBo-cnt .container .blind{overflow:hidden;position:relative}
.course .lunBo .lunBo-cnt .container .blind .small{width:370px;height:100%;float:left}
.course .lunBo .lunBo-cnt .container .blind .small img{display:block;margin-left:50px}
.course .lunBo .lunBo-cnt .container .blind .small .year{font-size:30px;color:#fff;padding:30px 0 25px 50px;border-bottom:1px solid #5a5854;margin-bottom:25px}
.course .lunBo .lunBo-cnt .container .blind .small .explain{font-size:14px;color:#fff;padding-right:60px;padding-left:50px}
.course .lunBo .lunBo-cnt .anNiu{position:absolute;top:50%;margin-top:-20px;width:100%}
.course .lunBo .lunBo-cnt .anNiu a{position:absolute;width:23px;height:40px;top:-20px}
.course .lunBo .lunBo-cnt .anNiu a.prohibit{opacity:.1}
.course .lunBo .lunBo-cnt .anNiu a.prev{background:url(../images/coursePrev.png) no-repeat center/cover;left:0}
.course .lunBo .lunBo-cnt .anNiu a.next{background:url(../images/courseNext.png) no-repeat center/cover;right:0}
.course .bottom{height:756px;background:url(../images/Founder.png) no-repeat center 83px/302px 60px}
.course .bottom .bt{padding-top:170px;font-size:36px;color:#484642;text-align:center;margin-bottom:70px}
.course .bottom .character{width:100%;height:372px;position:relative}
.course .bottom .character .container{width:100%;height:100%;overflow:hidden}
.course .bottom .character .container .box{height:100%;position:relative}
.course .bottom .character .container .box .small{width:1200px;height:100%;float:left}
.course .bottom .character .container .box .small img{float:left}
.course .bottom .character .container .box .small .you{margin-left:254px;padding:0 120px 0 50px}
.course .bottom .character .container .box .small .you .name{font-size:20px;color:#484642}
.course .bottom .character .container .box .small .you .sm{font-size:14px;color:#999;margin-top:20px}
.course .bottom .character .container .box .small .you .introduce{font-size:14px;color:#666;margin-top:20px}
.course .bottom .character .anNiu a{display:block;width:60px;height:60px;position:absolute;right:0}
.course .bottom .character .anNiu a.prev{background:#efca7f url(../images/coursePrev.png) no-repeat center/13px 24px;top:144px}
.course .bottom .character .anNiu a.next{background:#efca7f url(../images/courseNext.png) no-repeat center/13px 24px;top:83px}
.course .bottom .character .anNiu a.prohibit{background-color:#484642}













