@charset "utf-8";
*{padding:0;margin:0}
html,body{height:100%;min-width:1200px;font-family:"微软雅黑";color:#fff;font-size:18px}
ul,ol{list-style:none;}
img{border:none;}
input,select,textarea{border:none;outline:none}
a{text-decoration:none;-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s;}

.warp{position:relative;min-height:100%}

.textHidden{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.tran300{-webkit-transition:300ms ease-out;-moz-transition:300ms ease-out;-o-transition:300ms ease-out;transition:300ms ease-out;}
.tran500{-webkit-transition:500ms ease-out;-moz-transition:500ms ease-out;-o-transition:500ms ease-out;transition:500ms ease-out;}

.top-50{transform: translate(0,-50%);-webkit-transform: translate(0,-50%);-moz-transform: translate(0,-50%);-ms-transform: translate(0,-50%);-o-transform: translate(0,-50%);}
.left-50{transform: translate(-50%,0);-webkit-transform: translate(-50%,0);-moz-transform: translate(-50%,0);-ms-transform: translate(-50%,0);-o-transform: translate(-50%,0);}
.top-left-50{transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);}

.header{width:100%;min-width:1200px;height:70px;line-height:70px;border-bottom:1px solid #2fe0d8;position:fixed;top:0;left:0;z-index:50;}
.header .left{float:left;margin-left:50px}
.header .left .logo{float:left;height:100%;color:#fff;font-family:"黑体"}
.header .left .logo img{vertical-align:middle;margin-top:-6px}
.header .right{float:right;margin-right:50px}
.header .right img{margin-right:12px}
.header .center{margin:0 320px 0 380px;text-align:center}
.header .center a{color:#fff;margin:0 40px;display:inline-block}
.header .center a:hover{color:#f94d8a;-webkit-transform: scale(1.1)}
@media screen and (max-width:1300px){
    .header .center a{margin:0 20px}
}

.footer{height:200px;background:#202c30;padding-top:50px}
.footer .download{display:block;margin:0 auto;width:160px;height:40px;text-align:center;line-height:40px;border-radius:20px;font-size:14px;color:#fff;background:url("../images/BtnXz.png");box-shadow:#f94d8a}
.footer .download:hover{box-shadow:0 13px 35px -13px #f94d8a}
.footer .record{font-size:14px;color:#5f7177;text-align:center;margin:30px 0 10px}
.footer .other{text-align:center}
.footer .other a{font-size:14px;color:#5f7177;margin:0 20px}

.sidebar{width:100px;height:320px;position:fixed;top:50%;right:50px;margin-top:-160px;z-index:10}
.sidebar .btn .elastic{width:100px;height:100px;margin-bottom:10px;background:#949899;padding-top:18px;box-sizing:border-box;border-radius:10px;cursor:pointer}
.sidebar .btn .elastic:hover{background:#f94d8a}
.sidebar .btn .elastic img{display:block;margin:0 auto}
.sidebar .btn .elastic p{font-size:14px;color:#fff;text-align:center;line-height:28px}
.sidebar .cnt{position:absolute;top:0;right:115px}
.sidebar .cnt>div{display:none}
.sidebar .cnt .wechat{width:140px;border:6px solid #f94d8a;border-radius:10px;box-sizing:border-box;background:#fff;padding:3px 2px 12px;position:absolute;top:0;right:0}
.sidebar .cnt .wechat img{display:block;max-width:100%;margin:0 auto 10px}
.sidebar .cnt .wechat p{text-align:center;font-size:14px;color:#2d2d2d}
.sidebar .cnt .wechat .ico{width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #f94d8a;position:absolute;right:-10px;top:15px}
.sidebar .cnt .tel{width:150px;height:90px;border:6px solid #f94d8a;border-radius:10px;box-sizing:border-box;background:#fff;padding:9px 0 12px 14px;position:absolute;top:110px;right:0}
.sidebar .cnt .tel p{font-size:14px;color:#f94d8a;line-height:30px}
.sidebar .cnt .tel .ico{width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #f94d8a;position:absolute;right:-10px;top:13px}

.mask{width:100%;height:100%;background:#000;opacity:.4;position:fixed;top:0;left:0;z-index:99;display:none}
.reserve{position:fixed;top:10px;left:50%;width:650px;z-index:100;display:none}
.reserve .b{width:600px;border-radius:10px;overflow:hidden}
.reserve .b .td{padding-top:60px;background:#edfafe}
.reserve .b .td .tit{font-size:24px;color:#2d2d2d;text-align:center}
.reserve .b .td .f{padding:40px 0 40px 40px;box-sizing:border-box}
.reserve .b .td .f .yb{width:250px;height:40px;margin-right:20px;border-radius:50px;background:#fff;padding:0 20px;box-sizing:border-box;font-size:14px;float:left}
.reserve .b .td .f .qb{width:520px;height:40px;border-radius:50px;background:#fff;padding:0 20px;box-sizing:border-box;font-size:14px;margin-top:20px}
.reserve .b .td .f .btn{width:520px;height:40px;border-radius:50px;background:#f94d8a;font-size:14px;margin-top:20px;color:#fff;text-align:center}
.reserve .b .bh{text-align:center;background:#e8f7fb;padding:20px 0;line-height:30px}
.reserve .b .bh .o{color:#2d2d2d}
.reserve .b .bh .t{color:#11b5e4;font-size:24px}
.reserve .b .wc{text-align:center;background:#edfafe;padding:20px 0;font-size:14px;color:#2d2d2d;line-height:20px}
.reserve .b .wc img{display:block;margin:20px auto}
.reserve .close{width:40px;height:40px;text-align:center;line-height:40px;background:#edfafe;border-radius:10px;color:#6b767a;font-size:30px;position:absolute;top:0;right:0}


.layui-layer-dialog .layui-layer-padding{
        color: #000;
}