
.height20{height:20px;clear:both;}

.ml10{margin-left:10px;}

.pro-detail-item01{height:440px;}
.pro-detail-item01 .left{width:400px;background:#fff;padding-left:10px;padding-top:20px;border:1px solid #e6e6e6;height:420px;border-right:none;}
.pro-detail-item01 .left img{display:block;}

.pro-ar-left-left{width:50px;float:left;}
.pro-ar-left-list{position: absolute;height:10000em;}
.pro-ar-left-prolist{width:50px;position:relative;overflow:hidden;height:285px;float:right;}
.pro-ar-left-prolist:after{content:'';clear:both;display:block;}
.pro-ar-left-up{background:url(../images/pro-ar-icon2.png)  no-repeat center top;width:50px;margin-bottom:5px;cursor:pointer;display: inline-block;height:15px;}
.pro-ar-left-down{background:url(../images/pro-ar-icon1.png) no-repeat center top;width:50px;margin-top:5px;cursor:pointer;display: inline-block;height:15px;}
.pro-ar-left-box{position:relative;width:330px;height:330px;float:left;margin-left:10px;}
/* .pro-ar-left-cont img{margin:9px 0;} */
.pro-ar-left-cont{position:absolute;height:10000em;}
.pro-ar-left-list img{border:#fff 1px solid;margin-bottom:5px;cursor:pointer;width:100%;}
.pro-ar-left-list img.on{border:1px solid #ccc;}

/*主容器*/
.con-FangDa{width:330px;height: auto;}
/*正常容器*/
.con-fangDaIMg{width:330px;height:330px;position: relative;}
.con-fangDaIMg > img{width: 100%;height:100%}
/*滑块*/
.magnifyingBegin{width:154px;height:167px;left: 0;top: 0;background-color: #454545;opacity: 0.5;filter:alpha(opacity=50);position: absolute;cursor:move;display: none;}
/*放大镜显示区域*/
.magnifyingShow{width:330px;height:330px;display: none;position: absolute;right: -350px;top: 0;overflow: hidden;background-color: #454545;z-index:2;}
.magnifyingShow > img{width:710px;height:710px;margin-left:0;margin-top: 0;}

.pro-detail-item01 .left .bottom{padding-top:20px;border-top:1px solid #efefef;padding-right:20px;}
.pro-detail-item01 .left .bottom .fr{margin-left:10px;}
.pro-detail-item01 .left .bottom .fr a{padding-left:17px;}
.pro-detail-item01 .left .bottom .fr a.share{background:url(../images/icon01.jpg) no-repeat left center;}
.pro-detail-item01 .left .bottom .fr a.sc{background:url(../images/icon02.jpg) no-repeat left center;}
.pro-detail-item01 .left .bottom .fr input{vertical-align:middle;margin-right:3px;}

.pro-detail-item01 .middle{margin-left:0;padding-left:10px;background:#fbfbfb;height:420px;width:555px;border:1px solid #e6e6e6;border-left:none;padding-top:20px;}
.pro-detail-item01 .middle .tit{color:#000;font-size:22px;font-weight:bold;height:65px;}
.pro-detail-item01 .middle .price{height:96px;background:url(../images/pro-price.png) no-repeat right top;margin-right:-3px;width:530px;color:#fff;padding-top:35px;font-weight:normal;font-size:14px;padding-left:30px;}
.pro-detail-item01 .middle .price .price01{padding-right:10px;border-right:1px solid #fff;line-height:20px;}
.pro-detail-item01 .middle .price .price01 span{font-size:36px;}
.pro-detail-item01 .middle .price .price02{margin-left:25px;line-height:30px;}
.pro-detail-item01 .middle .price .price02 a{width:80px;height:25px;display:inline-block;text-align:center;line-height:25px;background:#f6ecca;color:#fa8e19;margin-left:10px;}

.pro-detail-item01 .middle .hydj{width:528px;border-bottom:1px solid #efefef;padding-bottom:30px;margin:0 auto;}
.pro-detail-item01 .middle .hydj select{background:none;border:none;margin-top:-7px;text-align:left;}
.pro-detail-item01 .middle .hydj select:focus{outline:none;}
.pro-detail-item01 .middle .hydj .fl{padding-left:20px;}
.pro-detail-item01 .middle .hydj .time{padding-left:23px;margin-top:10px;position:relative;z-index:1;}
.pro-detail-item01 .middle .num{position:relative;margin-top:20px;width:80px;border:1px solid #dadada;border-bottom:none;}
.pro-detail-item01 .middle .num span{float:left;width:25px;height:22px;display:block;cursor:pointer;}
.pro-detail-item01 .middle .num span.add{background:url(../images/add-icon.jpg) no-repeat left top;}
.pro-detail-item01 .middle .num span.reduce{background:url(../images/reduce-icon.jpg) no-repeat left top;}
.pro-detail-item01 .middle .num input{width:53px;border:none;border-right:1px solid #dadada;float:left;text-align:center;border-bottom:1px solid #dadada;height:43px;}
.pro-detail-item01 .middle > a{margin-top:20px;margin-left:15px;}

.pro-detail-item01 .right{background:url(../images/pro-right-icon.png) no-repeat center top;width:200px;padding-top:80px;}
.pro-detail-item01 .right .contxt{color:#545454;font-weight:bold;padding-bottom:8px;border-bottom:1px solid #eee;margin-bottom:8px;}
.pro-detail-item01 .right .ewm{text-align:center;padding-top:5px;line-height:10px;}
.pro-detail-item01 .right .ewm img{display:block;margin:0 auto;}

.pro-detail-item02{padding:15px 0;}
.pro-detail-item02 a{float:left;display:block;}
.pro-detail-item02 a img{display:block;}

.pro-detail-left{width:185px;}
.pro-detail-left .item01{border:1px solid #f7f8f8;}
.pro-detail-left .item01 > .tit{height:30px;line-height:30px;padding:0px 10px;background:#f4f4f4;font-size:14px;}
.pro-detail-left .item01 .tit02{font-family:"宋体";font-weight:bold;padding:10px;padding-bottom:0;}
.pro-detail-left .item01 ul{padding:10px;}
.pro-detail-left .item01 ul li{width:50%;float:left;margin-bottom:5px;}

.pro-detail-left .item02{border:1px solid #f7f8f8;margin-top:15px;}
.pro-detail-left .item02 > .tit{height:30px;line-height:30px;padding:0px 10px;background:#f4f4f4;font-size:14px;}
.pro-detail-left .item02 .tit02{font-family:"宋体";font-weight:bold;padding:10px;padding-bottom:0;}
.pro-detail-left .item02 ul{padding:10px;height:60px;overflow:hidden;}
.pro-detail-left .item02 ul li{width:50%;float:left;margin-bottom:5px;}
.pro-detail-left .item02 .bottom{height:15px;background:#f4f4f4 url(../images/icon03.jpg) no-repeat center center;cursor:pointer;}

.pro-detail-left .item03{border:1px solid #e2e2e2;margin-top:20px;}
.pro-detail-left .item03 > .tit{height:30px;line-height:30px;font-size:14px;padding:0px 10px;border-bottom:1px solid #e2e2e2;}
.pro-detail-left .item03 .list{width:155px;margin:0 auto;margin-top:20px;border-bottom:1px dashed #e6e6e6;padding-bottom:10px;}
.pro-detail-left .item03 .list img{display:block;}
.pro-detail-left .item03 .list .price{font-weight:bold;color:#ff0014;margin-top:5px;}

.pro-detail-right{width:1005px;}
.pro-detail-right .item01{border:1px solid #e2e2e2;}
.pro-detail-right .item01 > .tit{height:30px;line-height:30px;font-size:14px;padding:0px 10px;border-bottom:1px solid #e2e2e2;background:#f4f4f4;}
.pro-detail-right .item01 .box{width:100px;float:left;margin:20px;}
.pro-detail-right .item01 .box .tit{height:35px;overflow:hidden;margin-bottom:5px;}
.pro-detail-right .item01 .box input{vertical-align:middle;margin-right:3px;margin-top:-2px;}
.pro-detail-right .item01 .icon01{height:100%;width:24px;background:url(../images/icon04.jpg) no-repeat center 35px;float:left;height:140px;margin-top:20px;}
.pro-detail-right .item01 .icon02{height:100%;width:24px;background:url(../images/icon05.jpg) no-repeat center 35px;float:left;height:140px;margin-top:20px;}
.pro-detail-right .item01 .last{padding-top:55px;padding-left:20px;}
.pro-detail-right .item01 .last span{color:#e94a10;}
.pro-detail-right .item01 .last a{width:90px;height:30px;line-height:30px;text-align:center;display:block;background:#6c9c0a;color:#fff;font-size:12px;margin-top:10px;}

.pro-detail-right .item02{border:1px solid #e1e1e1;margin-top:15px;}
.pro-detail-right .item02 > .tit{height:39px;border-bottom:1px solid #e1e1e1;}
.pro-detail-right .item02 > .tit ul li{float:left;line-height:39px;padding:0px 20px;border-right:1px solid #e1e1e1;cursor:pointer;}
.pro-detail-right .item02 > .tit ul li.active,.pro-detail-right .item02 > .tit ul li:hover{background:#479385;color:#fff;}
.pro-detail-right .item02 > .tit .fr a{height:25px;padding:0px 5px;color:#577f12;font-size:12px;border:1px solid #e1e1e1;border-radius:3px;display:block;line-height:23px;margin-top:7px;margin-right:10px;}
.pro-detail-right .item02 > .tit .fr a img{vertical-align:middle;margin-right:3px;margin-top:-2px;}

.pro-detail-right .item02 .item02-tab{padding:20px;}
.pro-detail-right .item02 .item02-tab img{max-width:100%;}

.pro-detail-right .item02 .item02-tab > .tit{width:150px;height:40px;line-height:40px;text-align:center;background:#479385;font-size:18px;color:#fff;}

.pj-contxt{margin-top:30px;}
.pj-contxt .top{padding:20px 0;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;}
.pj-contxt .top .left{width:180px;text-align:center;border-right:1px dashed #d4d4d4;}
.pj-contxt .top .left .num{margin:15px 0;}
.pj-contxt .top .left span{color:#008842;}
.pj-contxt .top .left .num span{font-size:30px;font-weight:bold;}

.pj-contxt .top .middle{width:370px;border-right:1px dashed #d4d4d4;padding-left:90px;}
.pj-contxt .top .middle .list{margin-top:10px;}
.pj-contxt .top .middle .list .txt{float:left;}
.pj-contxt .top .middle .list > span{width:140px;height:10px;background:#e4e4e4;position:relative;display:block;float:left;margin-top:5px;margin-left:10px;}
.pj-contxt .top .middle .list > span span{background:#008842;left:0;top:0;height:10px;display:block;}
.pj-contxt .top .middle .list .num{margin-left:5px;}

.pj-contxt .top .right{width:270px;}
.pj-contxt .top .right a{width:100px;height:25px;line-height:25px;text-align:center;border-radius:3px;display:block;margin:5px 0;background:#008842;color:#fff;}

.pj-contxt .pj-box{}
.pj-contxt .pj-box > .title{border-bottom:1px solid #ebebeb;line-height:35px;margin-top:15px;}
.pj-contxt .pj-box > .title ul{}
.pj-contxt .pj-box > .title ul li{float:left;font-size:14px;cursor:pointer;padding:0px 5px;margin-right:10px;}
.pj-contxt .pj-box > .title ul li.active{color:#008842;border-bottom:2px solid #008842;}
.pj-contxt .pj-box > .title .fr > *{margin-left:10px;}
.pj-contxt .pj-box > .title input{vertical-align:middle;margin-top:-2px;margin-right:3px;}

.pj-contxt .pj-box .list{width:905px;margin:0 auto;margin-top:30px;}
.pj-contxt .pj-box .list .tx{width:120px;}
.pj-contxt .pj-box .list .tx .con{width:65px;text-align:center;margin:0 auto;}
.pj-contxt .pj-box .list .tx .con .img{display:block;margin:0 auto;}
.pj-contxt .pj-box .list .right{width:775px;}
.pj-contxt .pj-box .list .right .title{height:35px;line-height:35px;background:#f7f7f7;padding:0px 10px;}
.pj-contxt .pj-box .list .right .title > *{float:left;}
.pj-contxt .pj-box .list .right .title .start{margin-top:10px;}
.pj-contxt .pj-box .list .right .title .start img{float:left;margin-right:5px;}
.pj-contxt .pj-box .list .right .title .fl{margin-left:20px;}
.pj-contxt .pj-box .list .right .contxt{padding:10px;}
.pj-contxt .pj-box .list .right .img{float:left;margin-left:10px;}
