@charset "utf-8";
/*登录页*/
.xz-login{width:100%;height:100%;position:absolute;top:0;left:0}

.xz-login .xz-login-box{width:100%;height:350px;background:rgba(234,232,223,.8);margin-top:200px;padding-top:1px;}
.xz-login .xz-login-box .xz-login-logo{display:block;margin:40px auto 20px}
.xz-login .xz-login-box .xz-login-by{width:100%;display:block;margin:0 auto 40px}
.xz-login .xz-login-box .xz-login-anniu{text-align:center}
.xz-login .xz-login-box .xz-login-anniu a{display:inline-block;width:170px;height:50px;text-align:center;line-height:50px;color:#fff;background:#2a2a2a;font-size:26px}
.xz-login .xz-login-box .xz-login-anniu a:hover{background:#343434}
.xz-login .xz-login-box .xz-login-anniu a.xz-dl{margin-right:35px}

.xz-login-box .xz-dl-tan{width:300px;height:360px;border-radius:5px;box-shadow:1px 0 10px #6e6a6a;background:rgba(255,255,255,.8);position:absolute;top:200px;left:18%;display:none}
.xz-login-box .xz-dl-tan .xz-tit{color:#000;font-size:24px;text-align:center;height:56px;line-height:56px}
.xz-login-box .xz-dl-tan .xz-zh{width:265px;height:50px;background:#afafae;display:block;margin:0 auto;border-radius:50px}
.xz-login-box .xz-dl-tan .xz-zh .zx-zh-tu{float:left;width:50px;height:100%;text-align:center;line-height:39px}
.xz-login-box .xz-dl-tan .xz-zh .zx-zh-tu img{display:inline-block;vertical-align:middle}
.xz-login-box .xz-dl-tan .xz-zh input{float:left;width:215px;height:50px;font-size:16px;color:#fff;background:#afafae;border:none;border-radius:50px;padding-left:5px;padding-right:15px;box-sizing:border-box}
::-webkit-input-placeholder{color:#fff;}
::-moz-placeholder{color:#fff;}
:-moz-placeholder{color:#fff;}
.xz-login-box .xz-dl-tan .xz-mm{width:265px;height:42px;background:#afafae;margin:25px auto 25px;border-radius:50px}
.xz-login-box .xz-dl-tan .xz-mm .xz-mmk{width:204px;float:left}
.xz-login-box .xz-dl-tan .xz-mm .xz-mmk .zx-mm-tu{float:left;width:50px;height:100%;text-align:center;line-height:39px}
.xz-login-box .xz-dl-tan .xz-mm .xz-mmk .zx-mm-tu img{display:inline-block;vertical-align:middle}
.xz-login-box .xz-dl-tan .xz-mm .xz-mmk input{float:left;width:154px;height:42px;font-size:16px;color:#fff;background:#afafae;border:none;border-radius:50px;padding-left:5px;padding-right:15px;box-sizing:border-box}
.xz-login-box .xz-dl-tan .xz-mm .xz-login-dlan{width:154px;float:left;width:61px;height:42px;background:url(../images/xz-login-an.png);border:none;cursor:pointer}
.xz-login-box .xz-login-ykdl{display:block;width:142px;height:49px;margin-left:18px;background:transparent url(../images/xz-login-ykan.png);border:none;cursor:pointer}
.xz-login-box .xz-login-di{width:298px;height:52px;line-height:52px;position:absolute;bottom:0;left:0;background:linear-gradient(rgba(150,148,153,.9),rgba(49,47,56,.9));border-radius:0 0 5px 5px;margin:0 1px 1px}
.xz-login-box .xz-login-di .xz-login-forget{width:158px;height:42px;display:inline-block;background:url(../images/xz-login-forget.png);position:absolute;top:8px;left:13px;border-radius:3px}
.xz-login-box .xz-login-di .xz-login-remember{display:inline-block;width:38px;height:18px;background:#e07a35;border-radius:20px;border:1px solid #2e2222;box-shadow:0 0 2px #2e2222 inset;position:absolute;top:17px;right:80px}
.xz-login-box .xz-login-di .xz-login-remember .xz-login-remember-yn{display:inline-block;width:18px;height:18px;background:linear-gradient(#fefefe,#c7c6c5,#9f9f9f);border-radius:50%;border:1px solid #2e2222;position:absolute;top:-1px;right:-1px;z-index:1}
.xz-login-box .xz-login-di .xz-login-remember .xz-login-zt{display:none;width:0;height:18px;border-radius:18px;border:1px solid #2e2222;box-shadow:0 0 2px #2e2222 inset;position:absolute;top:-1px}
.xz-login-box .xz-login-di .xz-login-remember-wz{color:#bbbabc;font-size:16px;float:right;margin-right:10px;cursor:default}

.xz-login-box .xz-regis-tan{width:360px;height:390px;border-radius:5px;box-shadow:1px 0 10px #6e6a6a;background:rgba(255,255,255,.8);position:absolute;top:200px;right:18%;display:none}
.xz-login-box .xz-regis-tan .xz-tit{text-align:center;height:56px;line-height:56px}
.xz-login-box .xz-regis-tan .xz-tit a{ color:#000;font-size:24px;float: left;width: 50%; }

.xz-login-box .xz-regis-tan .xz-mm .xz-tishi,.xz-login-box .xz-regis-tan .xz-zh .xz-tishi{width:100%;height:12px;font-size:12px;color:#900;float:left;display:none}
.xz-login-box .xz-regis-tan .xz-zh-cnt{width: 360px;height: 334px}
.xz-login-box .xz-regis-tan .xz-zh-cnt>div{width: 360px;height: 334px}
.xz-login-box .xz-regis-tan .xz-zh-cnt>div.xz-zh-cnt2{display:none}
.xz-login-box .xz-regis-tan .xz-tit a.on{color:#80b44b}
.xz-login-box .xz-regis-tan .xz-zh{width:310px;height:33px;background:#afafae;display:block;margin:0 auto;border-radius:50px}
.xz-login-box .xz-regis-tan .xz-zh .zx-zh-tu{float:left;width:50px;height:33px;text-align:center;line-height:31px}
.xz-login-box .xz-regis-tan .xz-zh .zx-zh-tu img{display:inline-block;vertical-align:middle}
.xz-login-box .xz-regis-tan .xz-zh input{float:left;width:215px;height:33px;font-size:16px;color:#fff;background:#afafae;border:none;border-radius:50px;padding-left:5px;padding-right:15px;box-sizing:border-box}
.xz-login-box .xz-regis-tan .xz-mm{width:310px;height:33px;background:#afafae;margin:20px auto;border-radius:50px}
.xz-login-box .xz-regis-tan .xz-mm .xz-mmk{width:265px;float:left}
.xz-login-box .xz-regis-tan .xz-mm .xz-mmk .zx-mm-tu{float:left;width:50px;height:33px;text-align:center;line-height:29px}
.xz-login-box .xz-regis-tan .xz-mm .xz-mmk .zx-mm-tu img{display:inline-block;vertical-align:middle}
.xz-login-box .xz-regis-tan .xz-mm .xz-mmk input{float:left;width:215px;height:33px;font-size:16px;color:#fff;background:#afafae;border:none;border-radius:50px;padding-left:5px;padding-right:15px;box-sizing:border-box}
/*.xz-login-box .xz-regis-tan .xz-mm .xz-login-dlan{width:154px;float:left;width:61px;height:33px;background:url(../images/xz-login-an.png);border:none;cursor:pointer}*/
.xz-login-box .xz-regis-tan .xz-yzm{width:310px;height:33px;margin:10px auto;border-radius:50px}
.xz-login-box .xz-regis-tan .xz-yzm .xz-yzmk{width:170px;height:33px;float:left;background:#afafae;border-radius:18px}
.xz-login-box .xz-regis-tan .xz-yzm .xz-yzmk .zx-yzm-tu{float:left;width:50px;height:33px;text-align:center;line-height:32px}
.xz-login-box .xz-regis-tan .xz-yzm .xz-yzmk .zx-yzm-tu img{display:inline-block;vertical-align:middle}
.xz-login-box .xz-regis-tan .xz-yzm .xz-yzmk input{float:left;width:119px;height:33px;font-size:16px;color:#fff;background:#afafae;border:none;border-radius:50px;padding-left:5px;padding-right:15px;box-sizing:border-box}
.xz-login-box .xz-regis-tan .xz-yzm .xz-login-yam{float:left;width:108px;height:33px;border:none;cursor:pointer}
.xz-login-box .xz-regis-tan .xz-yzm .xz-login-yam.sjyzm{background:transparent url(../images/xz-regis-sjyzm.png) no-repeat center}
.xz-login-box .xz-login-di{width:298px;height:60px;line-height:52px;position:absolute;bottom:0;left:0;background:linear-gradient(rgba(150,148,153,.9),rgba(49,47,56,.9));border-radius:0 0 5px 5px;margin:0 1px 1px}
.xz-login-box .xz-login-di .xz-login-regis{width:158px;height:33px;display:inline-block;background:url(../images/xz-login-regis.png);position:absolute;top:5px;left:50%;border-radius:3px;margin-left:-79px;border:none;cursor: pointer}
.xz-regis-tan .xz-login-di{width:358px;height:62px;line-height:62px;}
.xz-regis-tan .xz-login-di .xz-login-regis{width:184px;height:49px;top:6.5px;margin-left:-92px}
.xz-regis-tan .xz-read{display:block;font-size: 12px;color: #000;width: 310px;margin: 10px auto}
.xz-regis-tan .xz-read input{vertical-align: middle;margin-right: 10px; margin-top: -2px;}
.xz-regis-tan .xz-read a{color: #990000}

.xz-login-wechat{width:inherit;position:relative;margin-top:50px}
.xz-login-wechat img{display:block;margin:0 auto}
.xz-login-wechat p{font-size:16px;color:#fff;text-align:center;margin-top:16px}
.xz-login-footer{width:100%;position:relative;margin-top: 50px}
.xz-login-footer p{width:100%;text-align:center;font-size:16px;color:#fff;line-height:30px}
.xz-login-footer p a{font-size:16px;color:#fff;margin:0 5px}
.xz-login-footer p a:hover{color:#f57a11}

/*二级页*/
.xz-history{height:30px;line-height:30px;background:#fff}
.xz-history a{font-size:14px;color:#444}
.xz-history a:hover{color:#444;text-decoration:underline}
.xz-ification{height:36px;line-height:34px;border:1px solid #c7c7c7;box-sizing:border-box;margin:20px auto;background:#f1f1f1}
.xz-ification .xz-ification-tit{font-size:14px;color:#444;padding:0 20px;display:inline-block;height:100%;background:#eaeaea;font-weight:700}
.xz-ification .xz-ification-tit .xz-sj{display:inline-block;width:0;height:0;border-top:5px solid transparent;border-left:10px solid #909090;border-bottom:5px solid transparent;margin-right:1px}
.xz-ification .xz-ification-nei{font-size:14px;color:#444;padding:0 15px;display:inline-block;height:100%}
.xz-screening{height:40px;background:#eaeaea;line-height:40px}
.xz-screening .xz-left{display:inline-block;border-right:1px solid #c9c9c9}
.xz-screening .xz-left a{font-size:14px;color:#444;padding:0 20px;display:inline-block;height:100%}
.xz-screening .xz-left a i{width:6px;height:10px;background:url(../images/xz-jiang.png) no-repeat center top;vertical-align:middle;display:inline-block;}
.xz-screening .xz-left a.on{color:#479385;background:#fff}
.xz-screening .xz-left a.on i{background:url(../images/xz-sheng.png) no-repeat center top;}
.xz-screening .xz-center{display:inline-block;padding-left:14px}
.xz-screening .xz-center label{display:inline-block;height:100%;line-height:40px}
.xz-screening .xz-center label input{vertical-align:middle}
.xz-screening .xz-center .xz-center-sx{margin-right:14px}
.xz-screening .xz-right{float:right;padding-right:10px}
.xz-screening .xz-right a{font-size:12px;color:#444}
.xz-screening .xz-right a span{color:#479385}

.pro-list-con{margin:0px -7.5px;}
.pro-list-con .list{width:288px;float:left;margin:0px 7.5px;background:#fff;margin-top:20px;height:369px;}
.pro-list-con .list .img{height:288px;width:288px;position:relative;border-bottom:1px solid #f7f8f8;overflow:hidden;}
.pro-list-con .list .img img{display:block;}
.pro-list-con .list .img .box{position:absolute;height:45px;background:#fff;bottom:-100%;left:0;width:100%;padding-top:20px;}
.pro-list-con .list .img .box > *{width:180px;height:25px;display:block;margin:0 auto;line-height:25px;border-radius:3px;font-size:12px;text-align:center;color:#fff;}
.pro-list-con .list .img .box span.jqg{background:#434343;}
.pro-list-con .list .img .box a{background:#117567}
.pro-list-con .list .con{padding:15px;background:#fff;line-height:25px;}
.pro-list-con .list .con .tit a{}
.pro-list-con .list .con .price .price-jg{font-size:16px;font-weight:bold;}

.pro-tj .list .con .price .price-right,
.pro-list-con .list .con .price .price-right{float: right;line-height: 26px}
.pro-tj .list .con .price .price-right{line-height: 12px}
.pro-tj .list .con .price .price-right label,
.pro-list-con .list .con .price .price-right label{font-size: 12px;color: #999;font-weight:normal;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; -khtml-user-select: none; user-select: none;}
.pro-tj .list .con .price .price-right label input,
.pro-list-con .list .con .price .price-right label input{vertical-align: middle}
.pro-tj .list .con .price .price-right .price-right-p1,
.pro-list-con .list .con .price .price-right .price-right-p1{display:inline-block;cursor: pointer}
.pro-tj .list .con .price .price-right .price-right-p2,
.pro-list-con .list .con .price .price-right .price-right-p2{}
.pro-tj .list .con .price .price-right p,
.pro-list-con .list .con .price .price-right p{margin-left:10px;display:inline-block}
.pro-tj .list .con .price .price-right p{margin-left:0;}
.pro-tj .list .con .price .price-right p span,
.pro-list-con .list .con .price .price-right p span{font-size: 12px;color: #999;font-weight:normal}
.pro-tj .list .con .price .price-right p a,
.pro-list-con .list .con .price .price-right p a{display:inline-block;font-size: 12px;color: #999;font-weight:normal;}
.pro-tj .list .con .price .price-right .price-right-p1 a,
.pro-list-con .list .con .price .price-right .price-right-p1 a{width:13px;height:12px;background: url(../images/common-icon.png) no-repeat;background-position: -92px -12px;vertical-align: middle;margin-top: -4px;}
.pro-tj .list .con .price .price-right .price-right-p1 a{margin-top: 0;}
.pro-tj .list .con .price .price-right .price-right-p2 a,
.pro-list-con .list .con .price .price-right .price-right-p2 a{width:14px;height:12px;background: url(../images/xz-liulanrenshu.png) no-repeat;vertical-align: middle;margin-top: -2px;}
.pro-tj .list .con .price .price-right .price-right-p2 a{margin-top: 0}
.pro-tj .list .con .price .price-right .price-right-img{width: 18px;height: 18px;cursor: pointer}

.pro-list-con .list:hover .img .box{bottom:0;}

.pro-tj{background:#fff;padding:20px;margin:30px 0;}
.pro-tj .list{width:535px;}
.pro-tj .list .con{width:260px;padding-top:25px;}
.pro-tj .list .con .tit a{font-size:20px;color:#787878;}
.pro-tj .list .con .ms{font-size:12px;margin-top:10px;height:80px;}
.pro-tj .list .con .price{color:#666;font-size:18px;font-weight:normal;}
.pro-tj .list .con .price-box{width:258px;height:48px;border:1px solid #f33f00;color:#f33f00;margin-top:30px;}
.pro-tj .list .con .price-box .fl{line-height:50px;padding-left:10px;}
.pro-tj .list .con .price-box .fl span{font-size:20px;}
.pro-tj .list .con .price-box .fr a{width:120px;height:100%;display:block;line-height:48px;text-align:center;font-size:20px;color:#fff;background:#f33f00;}

.goodlist-bar{position:fixed;right:155px;top:50%;height:435px;background:url(../images/goodlist-bar.png) no-repeat center top;margin-top:-217.5px;width:155px;padding-top:150px;}
.goodlist-bar a{width:65px;display:block;margin:0 auto;color:#fff;padding-bottom:8px;border-bottom:1px solid #b68528;text-align:center;font-size:14px;margin-top:10px;}
.goodlist-bar a:hover{color:#fff;}

.pro-detail-item02{padding:15px 0;}
.pro-detail-item02 a{float:left;display:block;}
.pro-detail-item02 a img{display:block;}