
@charset "utf-8";

@media screen and (max-width:768px) {

	.banner-container .swiper-pagination{bottom:.5rem;}
	.banner-container .swiper-pagination span{width:1rem;height:2px;}
	.banner-container .swiper-pagination span:after{height:2px;}

	.index-main .list{width:50%;}
	.index-main .list:last-child{width:100%;}
	.index-main .list .box .txt > div > a{width:1.5rem;height:1.5rem;}
	.index-main .list .box .txt > div .tit{margin-top:.5rem;}
	.index-main .list .box .txt > div .tit a{font-size:.65rem;}

}