
.tran300{transition:300ms ease-out;-webkit-transition:300ms ease-out;-moz-transition:300ms ease-out;-ms-transition:300ms ease-out;}
.tran500{transition:500ms ease-out;-webkit-transition:500ms ease-out;-moz-transition:500ms ease-out;-ms-transition:500ms ease-out;}

.textHidden{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.clearfix{*zoom:1;}
.clearfix:before{display:table;content:"";}
.clearfix:after{clear:both;display:block;content:"";height:0;overflow:hidden;visibility:hidden;}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}

.ml10{margin-left:10px;}

.w1200{width:1200px;margin:0 auto;}

.returnTop{width:50px;height:42px;background:url(../images/back-top.png) no-repeat center top;position:fixed;right:240px;bottom:70px;cursor:pointer;z-index:999;}

.position{z-index:103;position:relative;margin:20px 0;}
.position > div > ul > li{float:left;margin-right:10px;position:relative;}
.position > div > ul > li .position-box{position:absolute;top:100%;background:#fff;text-align:center;padding:10px;min-width:80px;line-height:30px;left:0;display:none;}
.position > div > ul > li .position-box a{width:100%;display:block;}
.position > div > ul > li:hover .position-box{display:block;}

.nav{height:40px;line-height:40px;border:1px solid #dcdcdc;border-left:none;border-right:none;background:#fff;}
.nav ul li{float:left;margin-right:125px;}
.nav ul li a{font-size:18px;}
.nav ul li a.on,.nav ul li a:hover{color:#479385;}

.nav02{background:#fff;}
.nav02 > div{position:relative;padding-top:20px;z-index:105;}
.nav02 > div > ul{margin:0px -57px;}
.nav02 > div > ul li{float:left;}
.nav02 > div > ul > li{margin:0px 57px;height:90px;}
.nav02 > div > ul > li > a{display:block;text-align:center;}
.nav02 > div > ul > li > a:hover{color:#479385;}
.nav02 > div > ul > li > a span{display:block;}
.nav02 > div > ul > li > a i{display:block;margin:0 auto;background:url(../images/common-icon.png) no-repeat -40px -60px;height:8px;width:11px;margin-top:5px;}

.nav02-select{position:absolute;background:url(../images/nav02-bg.png) repeat left top;padding:20px;z-index:2;width:1160px;top:110px;padding-top:0;left:0;display:none;}
.nav02-select ul{width:100%;margin-top:20px;}
.nav02-select ul li{float:left;margin-right:80px;width:85px;text-align:center;}
.nav02-select ul li a{color:#fff;font-size:16px;}
.nav02-select ul li a:hover{color:#479385;}

.nav02 > div > ul li:hover .nav02-select{}