
@charset "utf-8";

@media screen and (max-width:1440px) {

	.index-item01 .list{width:33.33%;padding:1rem .5rem;}
	/*.index-item01 .list i{width:3rem;height:3rem;}
	.index-item01 .list .tit{font-size:20px;}
	.index-item01 .list .ms{font-size:14px;line-height:.75rem;}*/
	
}

@media screen and (max-width:1024px) {

	.index-item01{padding:100px 0;}

	.index-item03 .list-con{margin:0;}
	.index-item03 .list-con .list .box .ms{height:auto;padding:15px 0;line-height:normal;}
	.index-item03 .list-con .list .box .ms > div{width:100%;text-align:center;}

	.ser-kh ul,.shop-item08 ul{margin:0;}
	.ser-pj ul{margin:0;}
	.ser-pj ul li .box .img{width:150px;height:130px;}
	.ser-pj ul li .box .contxt{padding-left:180px;}

}

@media screen and (max-width:768px) {

	.right-bar{display:none;}

	.foot-bar a{font-size:.55rem;}

	.index-tit .tit{font-size:.9rem;}
	.index-tit .ms{font-size:.55rem;}

	.index-item01{padding-top:1.5rem;padding-bottom:.5rem;}
	.index-item01 .index-tit{margin-bottom:1rem;}

	.index-item01 .list{width:33.33%;padding:1rem .5rem;}
	.index-item01 .list i{width:3rem;height:3rem;}
	.index-item01 .list .tit{font-size:.65rem;}
	.index-item01 .list .ms{font-size:.55rem;line-height:.75rem;}

	.index-item02 > div{width:100%;}
	.index-item02 .left{padding:1rem;}
	.index-item02 .right{padding:.5rem .25rem}
	.index-item02 .right > div{font-size:.55rem;}
	.index-item02 .right .tit02{font-size:1rem;margin:.5rem 0;}
	.index-item02 .right .txt{line-height:28px;}
	.index-item02 .right a{width:6rem;height:2rem;line-height:1.9rem;margin-top:1rem;font-size:.55rem;}

	.index-item03 .list-con .list{width:50%;padding:0px .25rem;margin-top:.7rem;}
	.index-item03 .list-con .list .box > a{width:4rem;}

	.index-item03,.index-item04,.index-item05{padding:2.5rem 0;}

	.ser-kh ul li .img,.shop-item08 ul li .img{height:2.5rem;}

	.ser-pj ul li{padding:0 .25rem;margin-top:.5rem;}
	.ser-pj ul li .box{padding:.5rem;}
	.ser-pj ul li .box .img{position:relative;width:100%;height:4rem;}
	.ser-pj ul li .box .contxt{padding-left:0;padding-top:.25rem;}

	.index-item05 .box-wrap{padding:1.25rem .25rem;margin-top:0;}
	.index-item05 > a{width:6rem;height:1.5rem;line-height:1.5rem;border-radius:.75rem;font-size:.75rem;}
	.index-item05 .box-wrap .left{width:100%;padding:0;margin-bottom:.5rem;}
	.index-item05 .box-wrap .left .con{height:auto;}
	.index-item05 .box-wrap .list-box{width:100%;}
	.index-item05 .box-wrap .list-box .list{width:100%;margin-bottom:.5rem;padding:0;}
	.index-item05 .box-wrap .list-box .list .box{padding:.75rem;height:auto;}
	.index-item05 .box-wrap .list-box .list .box .con{padding-left:4rem;height:3.5rem;}
	.index-item05 .box-wrap .list-box .list .box .con .tit{height:25px;}
	.index-item05 .box-wrap .list-box .list .box .con .ms{margin-top:0;}

	.index-item05 .box-wrap .data{width:3.5rem;height:3.5rem;}
	.index-item05 .box-wrap .data .day{font-size:1.45rem;}

	.shop-tit{font-size:.9rem;}
	.shop-tit .ms{font-size:.55rem;margin-top:15px;line-height:.9rem;}

	.shop-item01{background:url(../images/shop-item01bg.png) no-repeat center top/cover;padding:2rem 0;}
	.shop-item01 .left,.shop-item01 .right{width:100%;float:none;}
	.shop-item01 .left{padding:1rem;}
	.shop-item01 .right{padding:.5rem;}
	.shop-item01 .right .tit01{font-size:.5rem;margin-bottom:15px;}
	.shop-item01 .right .tit02{font-size:1.2rem;font-weight:bold;}
	.shop-item01 .right .tit03{font-size:.9rem;}
	.shop-item01 .right .tit04{font-size:.9rem;font-weight:bold;margin-top:.75rem;}
	.shop-item01 .right a{width:8rem;height:2rem;font-size:.75rem;line-height:2rem;}

	.shop-item02{padding:2rem 0;}
	.shop-item02 .list{width:33.33%;margin:1rem 0;}
	.shop-item02 .list:nth-child(1),.shop-item02 .list:nth-child(2){width:50%;}
	.shop-item02 .list i{width:3rem;height:3rem;}

	.shop-item03{font-size:.55rem;padding:2rem 0;background:#b001cc url(../images/shop-item03bg.png) no-repeat center center;}
	.shop-item03 img{margin-top:1.75rem;}
	.shop-item03 .txt{margin-top:.8rem;}

	.shop-item04{padding:2rem 0;}
	.shop-item04 .left{padding-top:1rem;}
	.shop-item04 .right{padding:.5rem;}
	.shop-item04 .left,.shop-item04 .right{width:100%;float:none;max-width:none;text-align:center;}
	.shop-item04 .left img,.shop-item04 .right img{display:inline-block;}
	.shop-item04 .middle{position:static;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);margin:.5rem 0;}
	.shop-item04 .middle img{width:2rem;}

	.shop-item05{padding:2.5rem 0;}
	.shop-item05 img{margin-top:2rem;}

	.shop-item06{padding:2.5rem 0;}
	.shop-item06 img{margin-top:1rem;}

	.shop-item07{padding:2.5rem 0;}
	.shop-item07 .swiper-slide .left,.shop-item07 .swiper-slide .right{width:100%;float:none;text-align:center;padding:0;}
	.shop-item07 .swiper-slide .left .tit{font-size:.75rem;text-align:left;}
	.shop-item07 .swiper-slide .left .ms{font-size:.55rem;text-align:left;}
	.shop-item07 .swiper-slide .left img{max-width:100%;}
	.shop-item07 .swiper-slide .right{padding:1rem;}
	.shop-item07 .swiper-container{margin-top:2.5rem;}
	.shop-item07 .swiper-container .swiper-button-prev,.shop-item07 .swiper-container .swiper-button-next{width:1.5rem;height:1.5rem;}

	.shop-item08,.shop-item09{padding:2.5rem 0;}

	.shop-item09 a{width:6rem;height:1.5rem;line-height:1.5rem;border-radius:.75rem;font-size:.75rem;margin-top:1.25rem;}

}

@media screen and (max-width:420px) {

	.index-item01 .list{width:50%;padding:.5rem;}

	.ser-kh ul li,.shop-item08 ul li{width:50%;}
	.ser-kh ul li .img,.shop-item08 ul li .img{height:5.5rem;}

}

@media screen and (max-width:320px) {

	.index-item03 .list-con .list{width:100%;}

}